@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600;700&family=Montserrat:wght@100;200;400;600;700&family=Nunito:wght@400;600;700&family=Roboto:wght@300;400&display=swap');

body{
	height: 100%;
	width: 100%;
	font-family: Montserrat;
	letter-spacing: 0.5px;
    margin: 0;
}
h1{
	font-size: 44px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 54px;
	text-align: center;
}
p, ol{
    font-size: 14px;
    line-height: 20px;
}
.menu_inner p{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
}
.header,
.menu_inner,
.main_banner{
	display: flex;
	align-items: center;
}
.header{
	width: 100%;
}
.logo{
	width: 20%;
}
.menu{
	width: 80%;
}
.menu_inner{
	justify-content: right;
}
.menu_inner div {
    padding: 0 20px;
}
.banner_background{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
.banner_background img{
	width: 100%;
}
.logo img,
.menu_footer img{
	border-radius: 75px;
}
.block{
	padding: 20px;
	margin: 50px 0;
}
.left_text,
.right_img{
	width: 50%;
}
.right_img{
	text-align: center;
}
.left_text p{
	line-height: 28px;
	font-weight: normal;
}
.left_text h1 {
    text-align: left;
}
.left_text button {
    border: 0;
    background-color: #aaa;
    padding: 15px 20px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin: 15px 0;
}
.left_text button:hover,
button.btn_redeem:hover,
input.nav:hover {
    cursor: pointer;
    background-color: #ddd;
    color: #444;
}
.outside {
    width: 400px;
    margin: auto;
    height: 130px;
    text-align: center;
    border: 2px solid #aaa;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 3px 14px 5px #ccc;
}

.outside .highlight {
    color: #444;
    font-size: 44px;
    line-height: 54px;
    margin: 20px 0;
    font-weight: 300;
}
.step_content, .step_content .step {
    display: flex;
}
.step {
    width: 33.3%;
}
.step_content {
    width: 100%;
}
.number h1 {
    margin: 0;
    padding: 10px;
    font-style: italic;
    color: #ff0000;
}
.redeem .sub_title{
	text-align: center;
	width: 500px;
	margin: auto;
	background-color: #ddd;
	padding: 1px;
	border-radius: 5px;
    font-style: italic;
}
.redeem .sub_title p {
    margin: 5px;
    font-size: 12px;
}
.redeem_voucher {
    display: flex;
    width: 700px;
    margin: auto;
    padding-top: 50px;
}

.redeem_voucher .poin {
    text-align: center;
    width: 30%;
}
.redeem_voucher .poin_input {
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 40px 0;
    margin: auto;
    border-radius: 10px;
}
.current_poin {
    border: 2px solid #000;
    border-radius: 80px;
    width: 100px;
    margin: auto;
    padding: 30px;
}
.current_poin p {
    margin: 10px 0;
}
.current_poin h1 {
    margin: 0;
    color: #ff0000;
}
input.nav {
    border: 0;
    border-radius: 15px;
    background-color: #ddd;
    font-weight: 700;
    padding: 5px 10px;
}
.input_inner input {
    border: 0;
    text-align: center;
}
.poin_input .btn_redeem {
    margin: 20px 0;
    height: 35px;
    border: 0;
    border-radius: 20px;
    background-color: #aaa;
    color: #fff;
    padding: 0 15px;
    font-weight: 700;
}
.voucher_option .row {
    display: flex;
    width: 100%;
}
.voucher_option .option {
    width: 25%;
    text-align: center;
}
.voucher_option p {
    border: 1px solid #ff0000;
    padding: 10px;
    margin: 8px 20px;
    border-radius: 10px;
}
.syarat_list {
    width: 75%;
    margin: auto;
}
.menu_footer {
    width: 20%;
}
.footer_inner {
    display: flex;
    width: 90%;
    margin: auto;
}
.menu_footer.left {
    width: 40%;
}
.footer_inner a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
}
.title_footer {
    font-weight: 600;
}
.footer.block {
    background-color: #eee;
}
.footer_inner p {
    margin: 0;
    line-height: 25px;
}
.footer_left {
    display: flex;
}
.menu_footer.left img{
    padding: 0 5px;
}
.main_banner.block.mobile {
    display: none;
}
.voucher_option.mobile{
    display: none;
}
.mobile-container{
    display: none;
}
.logo_inenr {
    text-align: center;
}
.left_text button,
p.outside_sub,
button.btn_redeem {
    text-transform: uppercase;
}



@media only screen and (max-width: 991px){
.menu_inner div {
    padding: 0 15px;
}
}




@media only screen and (max-width: 767px){
    .main_banner.block {
    display: none;
    }

    .main_banner.block.mobile {
    display: block;
    }
    .main_banner.block.mobile .right_img,
    .main_banner.block.mobile .left_text {
    width: 100%;
    }
    .left_text button {
    width: 100%;
    }
    .redeem .sub_title {
    width: 80%;
    margin: auto;
    }
    .redeem_voucher {
    display: block;
    width: 100%;
    }

    .redeem_voucher .poin {
    width: 100%;
    }

    .step_content {
    display: block;
    }

    .step {
    width: 100%;
    }
    .voucher_option {
        display: none;
    }
    .voucher_option.mobile{
        display: block;
    }
    .voucher_option .option {
    width: 50%;
    }
    .mobile-container{
        display: block;
        padding: 0 15px;
        position: absolute;
        left: 0;
        right: 0;
    }
    .menu_inner.desktop{
        display: none;
    }
    #menu_inner{
        display: none;
    }
    .topnav i.fas.fa-align-justify {
    font-size: 30px;
    color: #000;
    }
    div#menu_inner {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    right: 0;
    }
    .mobile-container p {
    padding: 0 15px;
    }
    .logo {
    width: 100%;
    }
    .footer_inner {
    display: block;
    text-align: center;
    }
    .footer_left {
    display: block;
    }
    .menu_footer.left,
    .menu_footer {
    width: 100%;
    padding: 10px 0;
    }
    .block {
    padding: 0;
    width: 90%;
    margin: 55px auto;
    }
    .syarat_list {
    width: 100%;
    }
    .voucher_option p {
    margin: 10px 5px;
    }
    .poin {
    padding-bottom: 20px;
    }
     h1{
        font-size: 25px;
        text-align: left;
        line-height: 35px;
    }
    .footer.block {
        width: 100%;
    }
    .current_poin h1 {
    text-align: center;
    font-size: 40px;
    }
    .menu_footer #sub,
    .menu_footer #sub2,
    .menu_footer #sub3 {
    display: none;
    }
    #sub.show,
    #sub2.show,
    #sub3.show {
    display: block;
    }
    .current_poin {border-radius: 90px;padding: 50px 40px;}
    .menu {
    display: none;
    }
    .logo_inenr {
    width: 35%;
    margin: auto;
    }
    .header {
    padding-top: 15px;
    }
    .poin_input p {
    margin: 10px;
    }

    }

@media only screen and (max-width: 480px){
    .logo img {
    width: 100%;
    }
    .outside{
        width: 100%;
    }
    .outside .highlight {
        font-size: 30px;
    }
    h1{
        font-size: 25px;
    }
    .main_banner.block.mobile img {
        width: 50%;
    }
    .redeem_voucher .poin_input {
    width: 100%;
    }
}